div.green {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #999999;
}

/*
父子选择器/派生选择器 选择器空格隔开
*/
div span {
    background-color: red;
}

/**
直接子元素选择器
 */
selection div ul li a em {
    background-color: green;
}
/*分组选择器*/
/*
em, strong, span {
    background-color: #ff4400;
}*/
